.pic--Container {
  display: inline-block;
  top: 0;
}

.pic--Container img {
  max-width: 100%;
}

.pic--Container .pic--Hexagon {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 50px 20px 70px;
}

.pic--Container .pic--Hexagon .pic--Shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;

  clip-path: polygon(
    0% 25%,
    50% 0%,
    100% 25%,
    100% 75%,
    100% 75%,
    50% 100%,
    0% 75%
  );
  transition: 0.5s;
}

.pic--Container .pic--Hexagon::before {
  content: "";
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 12%;
  background: lightgray;
  opacity: 0.3;
  border-radius: 50%;
  transition: 0.5s;
}

.pic--Container .pic--Hexagon:hover .pic--Shape {
  transform: translateY(-30px);
}
