@import url(./typography.css);
@import url(./profilepicture.css);
@import url(./navbar.css);
@import url(./btn__icons.css);

body {
  background-image: url("../images/new_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
img {
  height: 110%;
  width: auto;
  margin-top: 0.7%;
}
